<% content_for :jumbotron do %>
	<div class="col-sm-12">
		<div class="jumbotron center-block" style="
		margin:0;
		background: url(<%= asset_path 'pokemon.png' %>) center center/auto 100% no-repeat;
		display: block;">
		</div>
	</div>
	<div class="col-sm-12">
		<div class="jumbotron center-block">
			<h1>Welcome to Pokemon Game!</h1>
		</div>
	</div>
<% end %>