<% content_for :jumbotron do %>
	<div class="jumbotron center-block wel" style="
		margin:0;
		background: url(<%= asset_path 'pokemon.png' %>) right center/auto 100% no-repeat;
		display: block;">
		<h2>Welcome to Pokemon Game!</h2>
	</div>
<% end %>