main {
	margin-top: 30px;
}
.footer {
   position:relative;
   left:0px;
   bottom:0px;
   height: 100px;
   width:100%;
   color: #fff;
   text-align: right;
   margin: 400px 0 0 0;
   padding: 50px 0 100px 0;
}
#versus img{
   margin: auto; auto;
}

#pokemon2{
   text-align: right;
}
#pokemon2 table{
   text-align: center;
}
#pokemon1{
   text-align: left
}
#pokemon1 table{
   text-align: center;
}